/*
*
*TODO: Переносим все в БЭМ!!!
*
*/
.footer {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
  padding: 0;
}

.footer__social-icon{
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}