/*
*
*TODO: Переносим все в БЭМ!!!
*
*/
.feynman {
  background-image: url(../images/feynman.png );
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0;
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  padding: 100px 0 0 0;
  box-sizing: border-box;
}

.feynman__title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0 0;
  padding: 0;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 90px 0 90px 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

.footer {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
  padding: 0;
}

.footer__social-icon{
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}